:root {
  --board-size: 15; /*預設15*/
  --radius-size: 20px;
  --flow-space: 1.5em;
  --primary: #23d5ab;
  --secondary: #91ead5;
  --dark: #222222;
  --light: whitesmoke;
  --gray-300: #dee2e6;
  --gray-600: #6c757d;
  --orange: #ee7752;
  --pink: #e73c7e;
  --skyblue: #23a6d5;
  --lightblue: #91d3ea;
}
@keyframes AnimeGrade {
  0% {
    background-position: 1% 50%;
  }
  50% {
    background-position: 99% 50%;
  }
  100% {
    background-position: 1% 50%;
  }
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Noto Sans TC", sans-serif;
}
input:invalid {
  box-shadow: 0px 0px 10px var(--pink);
}
