body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Noto Sans TC", sans-serif;
}

/* blocks */
.btn {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-size);
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.card {
  background-color: #fff;
  border-radius: var(--radius-size);
  border: 5px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

/* composition */
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}
.full-screen {
  width: 100vw;
  height: 100vh;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.translate-middle {
  transform: translate(-50%, -50%);
}

.h-50 {
  height: 50%;
}
.w-50 {
  width: 50%;
}
.top-100 {
  top: 100%;
}
.top-75 {
  top: 75%;
}
.top-25 {
  top: 25%;
}
.start-50 {
  left: 50%;
}

/* utils */
.text-align-center {
  text-align: center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.btn-primary {
  display: block;
  background-color: var(--primary);
  font-weight: bold;
  letter-spacing: 0.25em;
  color: darkslategrey;
}
.btn-primary:hover {
  background-color: var(--secondary);
}
.btn-sky {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  border-color: var(--skyblue);
}
.btn-sky:hover {
  background-color: var(--gray-300);
}
.btn-gray {
  background-color: var(--light);
  color: black;
}
.btn-gray:hover {
  background-color: var(--gray-300);
}
.btn-gray:disabled {
  background-color: var(--gray-600);
  color: #fff;
}
.round {
  border-radius: var(--radius-size, 5px);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-white {
  background-color: white;
}
.bg-orange-blocks {
  background-image: url("../assets/bg.svg");
  background-position: center center;
  background-size: 5%;
}
.text-light {
  color: var(--light);
}
.fs-24px {
  font-size: 24px;
}
