@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
body * {
  font-family: "Noto Sans TC", sans-serif;
}

/*Vars*/
:root {
  --board-size: 19; /* 最大26 */
}
/*end Vars*/
.window {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30% 1fr;
}
.panel {
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.panel__title {
  text-align: center;
  margin-top: 1rem;
}
.panel__info {
  margin-top: auto;
  background-color: gray;
  color: #fff;
  border: transparent;
  width: 100%;
  height: 100px;
  font-size: 1.25rem;
  cursor: pointer;
}
.board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  width: 100vh;
  margin: 0 auto;
}
.board__cells {
  width: auto;
  height: auto;
  padding: 0;
  border: 1px solid #000;
  line-height: 0;
  cursor: pointer;
}
.rainbow {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: AnimeGrade 15s ease infinite;
}

.debug {
  background-color: #e73c7e;
}
@keyframes AnimeGrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
